Трек обучения_Профессия С#-разработчик.pdf
TestPrograms/
Module1/
Module2/
Module3/
Module4/
HomeWork_1/.vs/
HomeWork_1/App.config
HomeWork_1/Homework_01.csproj
HomeWork_1/Properties/
HomeWork_1/bin/
HomeWork_1/obj/
HomeWork_1/readme.txt
HomeWork_2/.vs/
HomeWork_2/App.config
HomeWork_2/HomeWork_2.csproj
HomeWork_2/HomeWork_2.sln
HomeWork_2/Properties/
HomeWork_2/bin/
HomeWork_2/obj/
HomeWork_3/.vs/
HomeWork_3/App.config
HomeWork_3/HomeWork_3.csproj
HomeWork_3/HomeWork_3.sln
HomeWork_3/Properties/
HomeWork_3/bin/
HomeWork_3/obj/
HomeWork_4/.vs/
HomeWork_4/App.config
HomeWork_4/HomeWork_4.csproj
HomeWork_4/HomeWork_4.sln
HomeWork_4/Properties/
HomeWork_4/bin/
HomeWork_4/obj/